---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: technitium
spec:
  chartRef:
    kind: OCIRepository
    name: technitium
  interval: 1h
  values:
    controllers:
      technitium:
        containers:
          app:
            image:
              repository: technitium/dns-server
              tag: 14.3.0@sha256:322b236403ca25028032f28736e2270a860527b030b162c9f82451c6494c4698
              pullPolicy: IfNotPresent
            env:
              DNS_SERVER_DOMAIN: ns1.kichi.live
              DNS_SERVER_ADMIN_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: "{{ .Release.Name }}-secret"
                    key: admin-pass
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 5380
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
    service:
      app:
        ports:
          http:
            port: *port
      dns:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: "172.16.0.200"
        externalTrafficPolicy: Cluster
        ports:
          dns-tcp:
            enabled: true
            port: 53
            protocol: TCP
          dns-udp:
            enabled: true
            port: 53
            protocol: UDP
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.kichi.live"
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      config:
        type: persistentVolumeClaim
        storageClass: longhorn
        accessMode: ReadWriteOnce
        size: 1Gi
        globalMounts:
          - path: /etc/dns